<html>
    <body>
        <h2 style="text-align:center;">Add Record:</h2>
        <form action="{{ request.path}}" method="post">
            <label for="name"></label><br>
            <input name="name" type="text" placeholder="Enter name"><br>
            <label for="addr"></label><br>
            <input name="addr" type="text" placeholder="Enter address"><br>
            <label for="city"></label><br>
            <input name="city" type="text" placeholder="Enter city"><br>
            <label for="pin"></label><br>
            <input name="pin" type="text" placeholder="Enter pin"><br><br>
            <button type="submit" name=""submitBtn>Submit</button>
        </form>
    </body>
</html>