<html>
    <body>
        {% with messages= get_flashed_messages() %}
            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
         <p><a href="http://127.0.0.1:5000/addrecord"><b>Add Record </b></a></p>
            <table border="1">
                <thead>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Pincode</th>
                    <th>Edit</th>
                    <th>Remove</th>
                </thead>
                {% for row in rows %}
                <tr>
                    <td>{{ row["name"] }}</td>
                    <td>{{ row["addr"] }}</td>
                    <td>{{ row["city"] }}</td>
                    <td>{{ row["pin"] }}</td>
                    <td><a href="http://127.0.0.1:5000/updaterecord/{{ row['pin'] }}"><b>Update</b></a></td>
                    <td><a href="http://127.0.0.1:5000/deleterecord/{{ row['pin'] }}"><b>Delete</b></a></td>
                {% endfor %}
                </tr>
            </table>
    </body>
</html>